{% extends 'books/base.html' %}

{% block title %}{{ author.name }}{% endblock title%}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h3>Authors Books Details</h3>
    <div class="d-flex d-flex-inline"><span class="pe-2">Authors name:</span>
        <h5>{{ author.name|title }}</h5>
    </div>

    <hr>

    {% for book in author.author_books.all %}
        <div class="small">Book ID: {{ book.id }}</div>
        <div>Title: {{ book.title }}</div>
    {% endfor %}

    <p>
        <a href="{% url 'books:author_book_edit' pk=author.pk %}" role="button" class="btn btn-primary w-100 mb-2">Edit {{ author.name }}'s books</a>
        <a href="{% url 'books:authors' %}" role="button" class="btn btn-primary w-100 mb-2">All Collections</a>
    </p>

{% endblock content %}